#main-heading {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  color: rgb(207, 168, 132);
  text-shadow: rosybrown;
}
.form {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
  left: 100px;
}
.form > button {
  background-color: rgb(223, 207, 187);
  border-radius: 10px;
}
.form > input {
  height: 30px;
  width: 200px;
  border: 2px solid rgb(223, 207, 187);
  border-radius: 10px;
}
.players-list {
  margin-top: 40px;
  display: grid;
  background-color: rgb(207, 168, 132);
  position: relative;
  left: 15%;
  height: 80px;
  width: 800px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  align-content: center;
  transition: all 2s;
}
.players-list h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: medium;
  display: flex;
  align-self: center;
}
.players-list h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  display: flex;
  align-self: center;
}
.buttons {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;
}
.btn {
  height: 30px;
  border-radius: 50%;
  width: 30px;
}
.basic-info {
  margin: auto;
}
.player-date {
  position: relative;
  /* left: 40px; */
  bottom: 10px;
}
.hidden {
  display: none;
}
.fieldError {
  text-align: center;
  color: red;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
}
#submit-button {
  height: 35px;
  width: 100px;
  cursor: pointer;
  transition: 0.3s;
}
.task {
  margin-top: 50px;
  color: rgb(207, 168, 132);
  text-align: center;
}
/* //alert */
.confirm-delete {
  height: 150px;
  width: 25%;
  /*   width: 220px; */
  border: 1px solid black;
  background-color: rgba(252, 248, 227, 1);
  border-color: rgba(177, 161, 129, 1);
  color: rgba(138, 109, 59, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.confirmation {
  /* position: relative; */
  margin: 30px;
}

/* CSS */
.delete-alert-buttons {
  margin: 15px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 20px;
  height: 30px;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.delete-alert-buttons:active {
  border-color: #4a4a4a;
  outline: 0;
}

.delete-alert-buttons:focus {
  border-color: #485fc7;
  outline: 0;
}

.delete-alert-buttons:hover {
  border-color: #b5b5b5;
}

.delete-alert-buttons:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}
/* //overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
  transition: 1s;
}
.confirm-delete h3 {
  font-size: 20px;
  position: relative;
  top: 10px;
}
.not-number h3 {
  font-size: 20px;
  position: relative;
  top: 10px;
}
